<div class="container">
	<h1>Student Database</h1>

	<div>
		<a href="/students/new" class="btn btn-primary">Add Student</a>
	    <a href="/courses/new" class="btn btn-primary">Add Course</a>
		
	</div>
</div>

<div class="container margin-top-20">
	<table class="table striped">
		<thead>
			<th>Students</th>

			<th></th>
		</thead>

		<tbody>
		    <% @students.each do |student| %> 
		
		
			<tr>
				<td>
					<%= student.name %>
				</td>
				<td>
					<a href="/students/<%= student.id %>/edit" class="btn btn-primary">Edit</a>
					<a href="/students/<%= student.id %>/enrollments" class="btn btn-primary">Courses</a>
				</td>
			</tr>
			<% end %> 
		</tbody>
	</table>
</div>
