

<%= form_for @student do |f| %>
	<div class="container">
		<div>
		
			<div class="bold">
			Student Name
		</div>
		
			<%= f.text_field :name, class: "form-control" %>
		</div>
			<%= f.submit(class: "btn btn-primary") %>
							
			
		</div>
	</div>
<% end %>



