<% if user_signed_in? %>
    <div class="container well margin-top-20 small-container">
        <div>
            <a href="/books" ><< Go Back</a>
        </div>
        
    	<table class="table table-striped table-hover">
    		    <tr> 
    		    <a href= "<%= new_book_store_path %>" class="btn btn-default">Add Store</a>
    		    </tr>
    		    <tr>
        		    <td><b> Store Name </td>
        		    <td><b> Address </d>
        		    <td><b> URL </d>
    		    </tr>
    	    <% @stores.each do |store| %>
    	    	<tr>
    	    		<td><%= store.store_name %></td>
    	    		<td><%= store.address %></td>
    	    		<td><%= store.store_url %></td>
    	    	</tr>
        	<% end %>
    	</table>
    </div>
<% end %>