<!DOCTYPE html>
<html>
<head>
	<title>Libraryp</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="style.css" />

<div class="container">
	<div class="margin-top-20" >
        <% if !user_signed_in? %>
            <a href="<%= new_user_session_path(current_user) %>" class="btn btn-default">Log In</a>
        <% end %>
        <% if user_signed_in? %>
        	<a href="<%= destroy_user_session_path(current_user) %>" class="btn btn-default">Log Out</a>
        <% end %>
    </div>
</div>

</head>
<body>

<%= yield %>
	
<!--jQuery-->
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>

</html>