<div class="container">
	<table class="table table-striped table-hover">
		<% @stores.each do |store| %>
			<tr>
				<td><%= store.storename %></td>
				<td><%= store.storeaddress %></td>
			</tr>
		<% end %>
	</table>
</div>