

<div class="container">
	<div class="margin-top-20">
	<h1>Welcome to the Book Manager app</h1>
		<div class="margin-top-20">
		<a href="<%= new_user_session_path %>" class="btn btn-default">Sign In</a>
		<a href="<%= new_user_registration_path %>" class="btn btn-success" >Sign Up</a>
	</div>
	</div>
<div>	


